:root {
  --body-bg-color: #201d1d;
  --font-color: #a9a9a9;
  --btn-red-color: #f71b1b;
  --btn-yellow-color: #ffff37;
  --btn-green-color: #16fc16;
  --btn-blue-color: #238aff;
  --menu-hover-color: #bdffff;
  --box-shadow-color: #000000;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 4vw;
}

.menu button, .end-btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--font-color);
  background-color: transparent;
  color: var(--font-color);
  border-radius: 50px;
  font-size: 5vw;
  width: 42vw;
  height: 13vw;
}

.end-btn {
  width: 55vw;
  height: 13vw;
}

.menu button:hover, .end-btn:hover {
  color: var(--menu-hover-color);
  border-color: var(--menu-hover-color);
  box-shadow: inset 0 0 10px var(--menu-hover-color);
}

.menu button:active, .end-btn:active {
  color: var(--menu-hover-color);
  border-color: var(--menu-hover-color);
  box-shadow: inset 0 0 10px var(--menu-hover-color),
    0 -2px 5px 2px var(--box-shadow-color);
  transform: translateY(2px);
}

.menu button:focus, .end-btn:focus{
  outline: none;
}

.scoreboard {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
}

.scoreboard > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#score-value::after {
  content: attr(data-score);
}

#round-value::after {
  content: attr(data-round);
}

.end-panel {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vw;
}

#end-msg {
  font-size: 8vw;
  margin-bottom: 10vw;
}

.gameboard {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.pad-btn {
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.4;
}

.pad-btn.active{
  z-index: 1;
  opacity: 1;  
}

.btn-red {
  background-color: var(--btn-red-color);
}

.btn-red.active {
  box-shadow: 0 0 15px 5px var(--btn-red-color);
}

.btn-yellow {
  background-color: var(--btn-yellow-color);
}

.btn-yellow.active {
  box-shadow: 0 0 15px 5px var(--btn-yellow-color);
}

.btn-green {
  background-color: var(--btn-green-color);
}

.btn-green.active {
  box-shadow: 0 0 15px 5px var(--btn-green-color);
}

.btn-blue {
  background-color: var(--btn-blue-color);
}

.btn-blue.active {
  box-shadow: 0 0 15px 5px var(--btn-blue-color);
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  body {
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
  }

  .menu {
    row-gap: 25px;
  }

  .menu button {
    font-size: 1.8rem;
    width: 230px;
    height: 60px;
  }

  .scoreboard {
    width: 25%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .gameboard {
    width: 400px;
    height: 400px;
  }

  .end-panel {
    width: 400px;
    height: 400px;
    row-gap: 25px;
  }

  #end-msg {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .end-btn{
    font-size: 1.8rem;
    width: 300px;
    height: 60px;
  }
}

/* body {
  border: solid yellow;
}

.menu {
  display: none;
  border: solid orangered;
}

.scoreboard,
.scoreboard > div {
  display: none;
  border: solid blue;
}

.gameboard {
  display: none;
  border: solid red;
}

.end-panel {
  display: none;
  border: solid green;
} */
